/* ------ CSS styles for the AIML Chatbot kernel ------ */


/* Responses from the bot */
div.krn-bot div.bot { 
    color: #8b5f32;
    font-style: normal;
    font-weight: bold;
    font-family: Libre Baskerville, Georgia, Times New Roman, Times, serif;
    font-size: 110%;
    margin-top: 3px;
}


/* Messages from magics */
div.krn-bot div.ctrl { 
    color: maroon;
    font-style: italic;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 100%;
    margin-top: 3px;
}


/* Help text */
div.krn-bot div.help { 
    color: grey;
    font-family: DejaVu Sans Mono, Courier New, Courier, Monospace;
    margin-top: 3px;
}


/* Generic information messages */
div.krn-bot div.info { 
    color: blue;
    font-family: DejaVu Sans Mono, Courier New, Courier, Monospace;
    margin-top: 3px;
    white-space: pre;
}


/* Trace messages */
div.krn-bot div.trace-in { 
    color: gray;
    font-size: 90%;
    font-family: DejaVu Sans Mono, Courier New, Courier, Monospace;
    margin: 0px;
    padding: 0px;
    white-space: pre;
}
div.krn-bot div.trace-res { 
    color: #106010;
    border: 1px dotted #106010; 
    font-size: 90%;
    font-family: DejaVu Sans Mono, Courier New, Courier, Monospace;
    margin-bottom: 3px;
    white-space: pre-wrap;
}


/* Error output */
div.krn-bot div.error {
    text-align: left;
    padding: 2px;
    margin: 2px; border: 1px solid red;
    font-family: DejaVu Sans Mono, Courier New, Courier, Monospace;
}
div.krn-bot div.error span.title { 
    color: red; font-weight: bold;
}

